MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=ganti-dengan-password-acak
S3_BUCKET=uploads
APP_ACCESS_KEY=app
APP_SECRET_KEY=ganti-dengan-password-acak
MINIO_SERVER_URL=http://100.111.178.48:9000
MINIO_CONSOLE_URL=http://100.111.178.48:9001
